form {
  border: none;
  box-shadow: none;
}

h3 {
  text-align: left;
  margin-bottom: 0;
  font-size: 30px;
}

p {
  font-size: 14px;
  color: gray;
}

legend {
  font-size: 30px;
}

.radio-group {
  margin-bottom: 1.5rem;
}

button {
  margin-top: 20px;
  background-color: var(--primary-color);
  color: white;
}

button:hover {
  background-color: var(--primary-color-light);
}
