/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: Arial, sans-serif;
} */

/* hero */
.hero {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}
.info {
  width: 60%;
  background-color: #7785ed;
}
.steps {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #382f5d;
}
.steps .step-item {
  flex: 1;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  transition: 0.3s ease;
}

.steps .step-item:hover {
  background-color: #382f5d;
}

.focus {
  background-color: #382f5d;
}
.detail {
  padding: 0;
  margin: 0;
  padding: 1rem;
  color: white;
  line-height: 1.5;
}

.detail p {
  font-size: 14px;
}
.detail ul {
  padding-left: 1rem;
}
.requirement {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.apply-btn {
  border: none;
  background-color: #382f5d;
  color: white;
}
.apply-btn:hover {
  background-color: #4c417bcd;
}

.other-services {
  flex: 1;
}

.other-services h3 {
  color: #382f5d;
  margin-bottom: 2rem;
}
.other-services a {
  text-decoration: none;
  color: #382f5d;
  font-size: 14px;
}

.other-services .line {
  height: 1px;
  width: 100%;
  background: rgb(173, 172, 172);
  margin: 1rem 0;
}

/* license process */
.license-process {
  background-color: rgb(245, 249, 248);
  text-align: center;
  padding-top: 2rem;
}

.cards {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.card {
  padding: 1rem;
  position: relative;
  width: 250px;
}

.icon {
  font-size: 4rem;
  color: #382f5d;
  display: block;
}
.card span {
  background-color: #382f5d;
  color: white;
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 50%;
  position: absolute;

  top: -10px;
}

.card p {
  margin-top: 10px;
  font-size: 12px;
}

/* Contact us */

.contact-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #382f5d;
  border-radius: 5px;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #382f5d;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.show {
  display: block;
}
/* About Us, FAQ, and Contact Us Sections */
.about,
.faq,
.contact {
  padding: 50px 0;
  text-align: center;
}
